html{
    background-color:whitesmoke;
}
h1{
    color:lightpink;
}

       .btn1 {
            border-radius: 25px;
            border: 3px solid hotpink;
            font-size: 150%;
            cursor: pointer;
        }

            .btn1:hover {
                background-color: lightpink;
                font-size:160%;
            }
