html{
    background-color:pink;
}


.btn1{
    font-size:120%;
    border-radius:15px;
    color:pink;
    
}
.btn:hover{
    font-size:140%;
    background-color:pink;
    color:white;

}


h1{
    color:lightpink;
    font-family:"secret recipe";
    font-size:500%;
    text-align:center;
    margin:0px;
}

h2{
    font-size:40px;
    color:lightpink;
    text-align:center;
    margin:0px;
}
